- content_for :title do "心に響く言葉" end
- content_for :webfont do
  %link{href: "//fonts.googleapis.com/css?family=Open+Sans:300", rel: "stylesheet", type: "text/css"}
- content_for :pagecss do
  :css
    body {
      font-family: 'Helvetica Neue', Helvetica, Arial, YuMincho, serif;
      background-color: #eee;
      background: #303e54 url(./images/StarryLake.jpg) no-repeat center top;
      background-size: cover;
      background-attachment: fixed;
    }
    #header {
      color: #fff;
      -webkit-font-smoothing: antialiased;
      text-align: center;
      padding: 4em 0;
      border-bottom: 8px solid #0F2B44;
    }
    #header h1 {
      letter-spacing: .2em;
      text-indent: .3em;
      font-weight: 400;
      font-size: 500%;
      margin: .1em 0;
    }
    #header h2 {
      letter-spacing: -0.00em;
      font-weight: 300;
      font-style: normal;
      font-size: 32px;
      line-height: 1.5;
      margin: 20px auto;
      max-width: 700px;
      font-family: 'Open Sans', sans-serif;
    }
    .wrapper {
      background-color: rgba(37, 69, 95, 0.97);
    }
    #adages {
      max-width: 700px;
    }
    .messages {
      font-size: 24px;
      color: #444;
    }
    .messages h3:after {
      content: " ";
      display: block;
      position: relative;
      top: -30px;
      border-bottom: 4px solid #ca6;
    }
    .messages dl {
      margin: 2em 0 3em;
      background-color: rgba(255,255,255,0.8);
      padding: 1em;
      border-radius: 3px;
    }
    .messages dl dt {
      letter-spacing: -0.02em;
      margin: 0 0 0.5em;
    }
    .messages dl dd {
      letter-spacing: -0.04em;
      font-size: 16px;
      color: #444;
      padding: 5px;
      text-align: right;
    }
    .messages dl dd a {
      color: inherit;
    }


%header#header
  .container
    %h1 心に響く言葉
    %h2 Tread the beaten track.

.wrapper
  .container
    #adages.row.center-block
      .col-md-12.clearfix.messages
        %dl
          %dt 「好きなことをやって生きる」というのは、欲望のままに生きることではない。好きなことと社会との接点を探し続ける、長く苦しい道のりのことを言う。
          %dd
            %a{href: "https://twitter.com/Yam_eye/status/454982280461975552"} @Yam_eye
        %dl
          %dt ほこりのかぶったトロフィなどは何とも象徴的です。これは過去のあなたが「トロフィ」で、現在のあなたが「ほこり」ということなのです。
          %dd 『人生カンタンリセット！夢をかなえる「そうじ力」 』　舛田光洋　サンマーク文庫
        %dl
          %dt 何かをするということは、それ以外のことをしないということである。
          %dd 『検索は、するな。』　安田佳生　サンマーク出版
        %dl
          %dt 素晴らしい製品を生み出す工場は静かである
          %dd
            %a{href: "http://yshigeru.blogspot.com/2013/12/blog-post.html"} 読むために生まれ: 若いエンジニアへ
        %dl
          %dt 失敗は、未来に絶望したときと、過去の体験を無駄だったと判断したときに確定する
          %dd
            %a{href: "http://www.amazon.co.jp/%E3%83%A6%E3%83%80%E3%83%A4%E4%BA%BA%E5%A4%A7%E5%AF%8C%E8%B1%AA%E3%81%AE%E6%95%99%E3%81%88-%E6%9C%AC%E7%94%B0-%E5%81%A5/dp/4479790764/?_encoding=UTF8&camp=247&creative=1211&linkCode=ur2&tag=washuseesaane-22"} ユダヤ人大富豪の教え
        %dl
          %dt 人間性を見るためには、その人が直接、利害関係のない他人をどう扱うかを見たらすぐわかる。
          %dd
            %a{href: "http://www.amazon.co.jp/%E3%83%A6%E3%83%80%E3%83%A4%E4%BA%BA%E5%A4%A7%E5%AF%8C%E8%B1%AA%E3%81%AE%E6%95%99%E3%81%88-%E6%9C%AC%E7%94%B0-%E5%81%A5/dp/4479790764/?_encoding=UTF8&camp=247&creative=1211&linkCode=ur2&tag=washuseesaane-22"} ユダヤ人大富豪の教え
        %dl
          %dt 「自由」はひとりで感じるもので「幸せ」は誰かと共有するものだから、絶対に一緒には手に入らないんです。絶対に。
          %dd
            %a{href: "https://twitter.com/Pirate_Radio_/status/366660681426145282"} @Pirate_Radio_
        %dl
          %dt 「なんでしたの？(why)」より「どうやったら防げる？(how)」を考える方が有用だってばっちゃが言ってた
          %dd
            %a{href: "http://b.hatena.ne.jp/entry/anond.hatelabo.jp/20130904231208"} ミスしたときの「なんで？」が怖い
        %dl
          %dt 悪気無くナチュラルに失礼なことを言う人は「悪気がないだけでいい人なんだよ」じゃなくて単に言っていいことと悪いことの判断もつかない無神経な人だから話なんて聞く必要ないよ
          %dd
            %a{href: "https://twitter.com/chino_y/status/368606970531430401"} @chino_y
        %dl
          %dt 「怒鳴ればもっといいものが出てくる」という期待があるから怒鳴られる。「もっといいもの」に値札を付けて、それをいつでも利用可能な状態で用意しておくことで、怒鳴られる可能性は減る。
          %dd
            %a{href: "http://medt00lz.s59.xrea.com/wp/archives/1489"} トラブル対策としての選択枝 - レジデント初期研修用資料
      /
        %dl
          %dt 文章
          %dd 出典


  %hr
  %footer
    %p.text-center
      Respect for 
      %a{href: "https://www.google.co.jp/search?q=20%E4%B8%96%E7%B4%80%E3%83%9C%E3%83%A4%E3%83%BC%E3%82%B8&safe=off&qscrl=1&source=lnms&tbm=isch&sa=X"} THE 20TH CENTURY VOYAGE
    /%p © Company 2013
