- content_for :title do "心に響く言葉" end
- content_for :webfont do
  %link{href: "//fonts.googleapis.com/css?family=Great+Vibes:400", rel: "stylesheet", type: "text/css"}
- content_for :pagecss do
  :css
    body {
      font-family: 'Helvetica Neue', Helvetica, Arial, YuMincho, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    }
    .jumbotron h1 {
      font-family: inherit;
      font-size: 48px;
    }
    #adages {
      max-width: 700px;
    }
    .messages {
      font-size: 24px;
      color: #444;
    }
    .messages h3:after {
      content: " ";
      display: block;
      position: relative;
      top: -30px;
      border-bottom: 4px solid #ca6;
    }
    .messages dl {
      margin: 3em 0;
    }
    .messages dl dt {
      letter-spacing: -1px;
    }
    .messages dl dd {
      font-size: 24px;
      color: #444;
      padding: 5px;
    }
    .messages dl dd a {
      color: inherit;
    }


/ Main jumbotron for a primary marketing message or call to action
.jumbotron
  .container.text-center
    %h1 心に響く言葉
    %p This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.

.container
  #adages.row.center-block
    .col-md-12.clearfix.messages
      %dl
        %dt 「好きなことをやって生きる」というのは、欲望のままに生きることではない。好きなことと社会との接点を探し続ける、長く苦しい道のりのことを言う。
        %dd
          %a{href: "https://twitter.com/Yam_eye/status/454982280461975552"} @Yam_eye
    /
      %dl
        %dt 日本語文
        %dd English sentence


  %hr
  %footer
    %p
      Respect for 
      %a{href: "https://www.google.co.jp/search?q=20%E4%B8%96%E7%B4%80%E3%83%9C%E3%83%A4%E3%83%BC%E3%82%B8&safe=off&qscrl=1&source=lnms&tbm=isch&sa=X"} THE 20TH CENTURY VOYAGE
    /%p © Company 2013
