---
layout: chartjs.jade
---

h2 Bar Chart
div.
  <div class="canvas-holder">
    <canvas id="myChart" width="250" height="125"></canvas>
  </div>
  <script>
  var ctx = document.getElementById("myChart");
  var data = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "My First dataset",
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1,
            data: [65, 59, 80, 81, 56, 55, 40],
        }
    ]
  };
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: data,
      options: {}
  });
  </script>

h3 stacked
div.
  <div class="canvas-holder">
    <canvas id="myChart2" width="250" height="125"></canvas>
  </div>
  <script>
  var ctx = document.getElementById("myChart2");
  var data = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "Red dataset",
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1,
            data: [55, 49, 70, 71, 46, 45, 30]
        },
        {
            label: "Blue dataset",
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1,
            data: [55, 49, 70, 71, 46, 45, 30]
        },
        {
            label: "Yellow dataset",
            backgroundColor: 'rgba(255, 206, 86, 0.2)',
            borderColor: 'rgba(255, 206, 86, 1)',
            borderWidth: 1,
            data: [55, 49, 70, 71, 46, 45, 30]
        }
    ]
  };
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: data,
      options: {
        scales: {
            xAxes: [{
              stacked: true
            }],
            yAxes: [{
              stacked: true
            }]
          }
        }
  });
  </script>
