---
layout: chartjs.jade
---

h2 Bubble Chart

p http://www.chartjs.org/docs/#bubble-chart

div.
  <div class="canvas-holder">
    <canvas id="myChart" width="250" height="125"></canvas>
  </div>
  <script>
  var ctx = document.getElementById("myChart");
  var data = {
    datasets: [
        {
            label: 'First Dataset',
            data: [
                {
                    x: 20,
                    y: 30,
                    r: 15
                },
                {
                    x: 40,
                    y: 10,
                    r: 10
                }
            ],
            backgroundColor:"#FF6384",
            hoverBackgroundColor: "#FF6384",
        }]
  };
  var myChart = new Chart(ctx, {
      type: 'bubble',
      data: data,
      options: {}
  });
  </script>
