---
layout: chartjs.jade
---

h2 Scatter Line Charts

p http://www.chartjs.org/docs/#line-chart-scatter-line-charts

p スキャターチャート・散布図に対し、これは散在する点をなめらかに繋げるチャート。

div.
  <div class="canvas-holder">
    <canvas id="myChart" width="250" height="125"></canvas>
  </div>
  <script>
  var ctx = document.getElementById("myChart");
  var scatterChart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [{
            label: 'Scatter Dataset',
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 0.5)',
            data: [{
                x: -10,
                y: 0
            }, {
                x: 0,
                y: 10
            }, {
                x: 10,
                y: 5
            }]
        }]
    },
    options: {
        scales: {
            xAxes: [{
                type: 'linear',
                position: 'bottom'
            }]
        }
    }
  });
  </script>

h3 Stacked Charts

p http://www.chartjs.org/docs/#line-chart-stacked-charts

div.
  <div class="canvas-holder">
    <canvas id="myChart2" width="250" height="125"></canvas>
  </div>
  <script>
  var ctx = document.getElementById("myChart2");
  var data = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "My First dataset",
            data: [65, 59, 80, 81, 56, 55, 40],
            spanGaps: false,
            backgroundColor: 'rgba(153, 102, 255, 0.2)'
        },
        {
            label: "ABC",
            data: [35, 49, 20, 61, 66, 65, 50],
            spanGaps: false,
            backgroundColor: 'rgba(75, 192, 192, 0.2)'
        }
    ]
  };
  var stackedLine = new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
        scales: {
            yAxes: [{
                stacked: true
            }]
        }
    }
  });
  </script>
