%h1
  #{@say}

%h4
  ENV.sort

%p
  #{ENV.sort}

%p
  #{@allusers}

%form{:action=>"/", :method=>"post"}
  %input{:type=>"texfield",:name=>"registration_id"}
  %input{:type=>"submit", :value=>"send"}