.block {
  display: block;
  width: 100%;
}

#src, #dest {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
}

#src {
  min-height: 100px;
}

#dest {
  min-height: 100px;
  padding: 5px;
  background-color: #f5f5f5;
}
