---
layout: chartjs.jade
---

h2 Stacked Charts

div.
  <div class="canvas-holder">
    <canvas id="myChart" width="250" height="125"></canvas>
  </div>
  <script>
  var ctx = document.getElementById("myChart");
  var data = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "My First dataset",
            data: [65, 59, 80, 81, 56, 55, 40],
            spanGaps: false,
        },
        {
            label: "ABC",
            data: [35, 49, 20, 61, 66, 65, 50],
            spanGaps: false,
        }
    ]
  };
  var stackedLine = new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
        scales: {
            yAxes: [{
                stacked: true
            }]
        }
    }
  });
  </script>
