---
layout: index.jade
---

h2 SQL Formatter

div
  label
    span 改行
    input(type="checkbox" name="reindent" checked)
  label
    span インデント
    input(type="number" name="indent_width" value="2")
  label
    input(type="checkbox" name="strip_comments")
    span コメント除去
  label
    span 識別子
    select(name="identifier_case")
      option(value="") そのまま
      option(value="upper") 大文字
      option(value="lower" selected) 小文字
      option(value="capitalize") 先頭のみ大文字
  label
    span 予約語
    select(name="keyword_case")
      option(value="") そのまま
      option(value="upper" selected) 大文字
      option(value="lower") 小文字
      option(value="capitalize") 先頭のみ大文字

textarea#src.block.
  SELECT r.last_name,
         (SELECT MAX(YEAR(championship_date))
            FROM champions AS c
           WHERE c.last_name = r.last_name
             AND c.confirmed = 'Y') AS last_championship_year
    FROM riders AS r
   WHERE r.last_name IN
         (SELECT c.last_name
            FROM champions AS c
           WHERE YEAR(championship_date) > '2008'
             AND c.confirmed = 'Y');

button#format Format

pre#dest

div.
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

div
  link(rel="stylesheet" href="page.css")
  script(src="page.js")
