---
layout: index.jade
---

div
  link(rel="stylesheet" href="checkbox.css")


h2 Checkbox

.settings-view.
  <div class="control-group"><div class="controls"><div class="checkbox"><label for="core.allowPendingPaneItems"><input id="core.allowPendingPaneItems" type="checkbox" checked><div class="setting-title" title="Allow Pending Pane Items" data-localized="true">プレビュータブを使う</div></label><div class="setting-description" title="Allow items to be previewed without adding them to a pane permanently, such as when single clicking files in the tree view." data-localized="true">ツリービューなどでファイルを選択した時にタブをプレビュー状態で開きます。 プレビュー時はタブ名が斜体となり、別のファイル選択時にタブが使い回されます。 ダブルクリックまたは編集を開始することでプレビュー状態が解除されます。</div></div></div></div>
  <div class="control-group"><div class="controls"><div class="checkbox"><label for="core.audioBeep"><input id="core.audioBeep" type="checkbox" checked><div class="setting-title" title="Audio Beep" data-localized="true">ビープ音を鳴らす</div></label><div class="setting-description" title="Trigger the system's beep sound when certain actions cannot be executed or there are no results." data-localized="true">処理が予期したとおりに実行されなかったり、結果が何も得られなかった場合にシステムのビープ音を鳴らします。</div></div></div></div>
  <div class="control-group"><div class="controls"><div class="checkbox"><label for="core.automaticallyUpdate"><input id="core.automaticallyUpdate" type="checkbox" checked><div class="setting-title" title="Automatically Update" data-localized="true">自動アップデート</div></label><div class="setting-description" title="Automatically update Atom when a new release is available." data-localized="true">新しいバージョンの Atom がリリースされていた場合に自動でアップデートします。</div></div></div></div>
  <div class="control-group"><div class="controls"><div class="checkbox"><label for="core.closeEmptyWindows"><input id="core.closeEmptyWindows" type="checkbox" checked><div class="setting-title" title="Close Empty Windows" data-localized="true">空になったウインドウをタブと同様に閉じる</div></label><div class="setting-description" title="When a window with no open tabs or panes is given the 'Close Tab' command, close that window." data-localized="true">ウインドウ内にタブもペインもない状態でタブを閉じるコマンドを与えた場合、ウインドウを閉じます。</div></div></div></div>
  <div class="control-group"><div class="controls"><div class="checkbox"><label for="core.destroyEmptyPanes"><input id="core.destroyEmptyPanes" type="checkbox" checked><div class="setting-title" title="Remove Empty Panes" data-localized="true">空になったペインを自動的に閉じる</div></label><div class="setting-description" title="When the last tab of a pane is closed, remove that pane as well." data-localized="true">最後に開いていたタブを閉じた場合、ペインも閉じます。</div></div></div></div>
  <div class="control-group"><div class="controls"><div class="checkbox"><label for="core.excludeVcsIgnoredPaths"><input id="core.excludeVcsIgnoredPaths" type="checkbox" checked><div class="setting-title" title="Exclude VCS Ignored Paths" data-localized="true">バージョン管理システムによって無視されたパスを除外する</div></label><div class="setting-description" title="Files and directories ignored by the current project's VCS system will be ignored by some packages, such as the fuzzy finder and find and replace. For example, projects using Git have these paths defined in the .gitignore file. Individual packages might have additional config settings for ignoring VCS ignored files and folders." data-localized="true">現在のプロジェクトで使用中のバージョン管理システムによって無視されたファイルとディレクトリが、あいまい検索や検索、置換の中で無視されるようになります。 例えば Git を使用しているプロジェクトでは .gitignore ファイルで定義されたパスがそれにあたります。 個々のパッケージにもこの設定とは別にファイルやフォルダを無視する設定があるかもしれません。</div></div></div></div>
