---
layout: index.jade
---

h2 Checkbox

.checkbox
  label
    input(type="checkbox" checked)
    span Label

.checkbox
  label
    input(type="checkbox")
    span Label

.checkbox
  label
    input(type="checkbox")
    span Label
