extends layout

block libs
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js")

block main
  .container
    .three.columns
      h5 index
      ul
        li
          a(href="./line-chart.html") Line Chart
        li
          a(href="./scatter-line-charts.html") Scatter Line Charts
        li
          a(href="./bar-chart.html") Bar Chart
        li
          a(href="./radar-chart.html") Radar Chart
        li
          a(href="./polar-area-chart.html") Polar Area Chart
        li
          a(href="./pie-doughnut-charts.html") Pie & Doughnut Charts
    .nine.columns
      div!= contents
