extends layout

block libs
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css")

block main
  .container
    div!= contents
