---
layout: index.jade
---

h2 pixel-color

div(style="display:flex; align-items:flex-start;")
  canvas#myCanvas(style="cursor: crosshair;")
  #clickedColor
    div(style="width:100px; height:100px;")

:markdown-it
  - [Canvas を使って画像の色をサンプリングする \(Windows\)](https://msdn.microsoft.com/ja-jp/library/jj203843(v=vs.85).aspx)

script(src="./pixel-color.js")
