---
title: VSCode - VSIX Downloader
layout: plain.jade
---

h2 VSCode - VSIX Downloader
p Download an extension directly from the Marketplace.

.alert-wrap

form
  .row
    .five.columns
      label Extension Name
      div.vvv
        input#extn(type="text" placeholder="extension-name" pattern="^[0-9A-Za-z_-]+$" value="vscode-icons")
        span &nbsp;
        button#sch.button(type="button") Search
    .three.columns
      label Publisher
      input#publ.u-full-width(type="text" placeholder="publisher" pattern="^[0-9A-Za-z_-]+$" value="robertohuertasm")
    .four.columns
      label Version
      div.vvv
        input#vers(type="text" placeholder="1.0.0" pattern="[0-9]{1,2}\.[0-9]{1,2}\.[0-9]{1,2}" value="7.3.0")
        span &nbsp;
        button#latest.button(type="button") Latest

  .row
    label URL
    pre
      code#result

  .row
    button.button-primary(type="submit") Download
    span &nbsp;
    button#oep.button(type="button") Open Extension Page

style
  :scss
    .alert {
      color: red;
      background-color: rgb(255,240,240);
      margin-bottom: 2em;
      padding: 1em;
    }
    input[type=text] {
      font-size: 15px;
    }
    pre > code {
      font-size: 14px;
      white-space: pre-wrap;
      word-break: break-all;
    }
    input[pattern]:invalid {
      border-color: red;
    }
    .vvv {
      display: flex;
      #vers {
        width: 100px;
      }
      input {
        flex: 1;
      }
      .button {
        padding: 0 15px;
      }
    }

script
  include:babel babel.js

:markdown-it
  ---
  - [Managing Extensions in Visual Studio Code](http://code.visualstudio.com/docs/editor/extension-gallery#_common-questions)
